* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-orange: #f56900;
  --main-color-red: #ff0000;
  --main-color-light-grey: #eee;
  --main-color-black: #1d1d1f;
}

body {
  font-family: "Arial", sans-serif;
  color: #1d1d1f;
  background-color: var(--main-color-light-grey);
  height: 100vh;
  margin: 0 auto;
}

.announcement {
  background-color: var(--main-color-orange);
}

.login-info {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 14px;
}

/* APP NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  padding-top: 28px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.logo {
  width: 190px;
}

.login {
  display: flex;
}

.login__input {
  width: 150px;
  font-size: 14px;
  text-align: center;
  border: 1px solid var(--main-color-light-grey);
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.3s;
  margin-right: 0.5rem;
  padding: 10px 0;
}

.login__input:focus,
.form__input:focus {
  outline: none;
  border: 1px solid var(--main-color-light-grey);
}

/* .login__input::placeholder {
  color: var(--main-color-orange); 
} */

.login__btn,
.form__btn {
  width: 55px;
  border: 1px solid var(--main-color-light-grey);
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  background-image: url(./assets/black-arrow.png);
  background-repeat: no-repeat;
  background-size: 23px 15px;
  background-position: center;
}

.login__btn:hover,
.form__btn:hover {
  color: #ccc;
  border: 1px solid #ccc;
}

/* APP */
.app {
  opacity: 0;
  transition: all 1s;
  max-width: 1000px;
  margin: 0 auto;
}

/* APP INTRO */
.app__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.welcome__date,
.summary__label {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.welcome-greeting {
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1f;
}

.summary-list {
  display: flex;
  list-style-type: none;
}

.summary-item {
  border-left: 1px solid #ccc;
  padding-left: 1.2rem;
  padding-right: 2rem;
}

.summary-item:last-child {
  padding-right: 0;
}

.summary__value {
  font-size: 24px;
  font-weight: bold;
}

.summary__value--balance,
.summary__value--out {
  color: var(--main-color-orange);
}

.summary__value--in,
.summary__value--interest {
  color: var(--main-color-orange);
}

/* APP MAIN */
.app__main {
  display: flex;
  border-radius: 12px;
  max-height: 500px;
  background-color: #fff;
}

.movements__container {
  width: 60%;
  overflow: scroll;
  padding: 0 2.5rem;
}

.movements__row {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.movements__row:last-child {
  border: none;
}

.movements__type {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  margin-right: 1rem;
}

.movements__date {
  font-size: 14px;
  color: var(--main-color-black);
}

.movements__type--deposit {
  background-color: var(--main-color-orange);
}

.movements__type--withdrawal {
  background-color: var(--main-color-red);
}

.movements__value {
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1f;
  margin-left: auto;
}

.btn--sort {
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid var(--main-color-orange);
  border-radius: 2rem;
  font-size: 16px;
  color: var(--main-color-orange);
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 2rem;
  margin-left: 417px;
}

.btn--sort:hover {
  background-color: var(--main-color-orange);
  color: #fff;
}

/* APP - OPERATIONS */
.operations {
  width: 40%;
  border-left: 5px solid #eee;
}

.operation {
  border-bottom: 1px solid var(--main-color-light-grey);
  margin: 0 2.5rem;
  padding: 2rem 0;
}

.operation:last-child {
  border: none;
}

.operation__title {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color-black);
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  gap: 0.5rem;
}

.form__label--loan {
  grid-row: 2;
}

.form__input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--main-color-dark-grey);
  font-size: 18px;
  text-align: center;
  /* color: var(--main-color-grey); */
  padding: 0.4rem 1rem;
  transition: all 0.3s;
}

.form__label {
  font-size: 14px;
  color: var(--main-color-black);
  text-align: center;
}

.logout-timer {
  text-align: center;
  font-size: 16px;
  color: var(--main-color-black);
  padding: 1.5rem 0 2.5rem;
}

.timer {
  font-weight: bold;
  color: var(--main-color-black);
}
